<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sudoku Solver</title>
    
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        br {
            display: block;
            content: "";
            margin-top: 5px;
        }
        
        .divfixed
        {
            width:500px;
            max-width:500px;
        }

        .divcenter{
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

        .alert1{position:relative;padding:0rem 0rem;margin-bottom:0rem;border:1px solid;border-radius:1rem;text-align:center;}
    </style>
</head>

<body class="d-flex flex-column h-100" style="background-color:rgb(227, 227, 227);">

    <header>
        <nav class="navbar justify-content-center navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Sudoku Solver</a>
        </nav>
    </header>

    <br><br><br>
    <main role="main">
        <form role="form" method="POST" onclick="location.href={% url 'home' %}">{% csrf_token %}
            <div class="divcenter">
                {% for k, val in dict_val.items %}
                    <div class="divfixed">
                        <div class="input-group shadow-lg">
                            {% for item in val %}
                                <input type="text" name="box[]" class="form-control bg-light text-dark text-center fs-4" value="{{item}}">
                                {% if forloop.counter == 3 or forloop.counter == 6 %}&nbsp;{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if k == 3 or k == 6 %}<br>{% endif %}
                {% endfor %}
                <br>
                <div class="container text-center divcenter1 pb-2 pt-2">
                    <input type="submit" value="Solve Puzzle" name="solve" class="btn btn-outline-primary" onclick="location.href={% url 'home' %}">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Reset" name="reset" class="btn btn-outline-danger" onclick="location.href={% url 'home' %}">
                </div>
                <br>
                {% if msg == 'enter' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Enter the values to solve the puzzle..!
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                {% elif msg == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Empty puzzle can't be solved..!
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                {% elif msg == 'done' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Puzzle is solved...!
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                {% endif %}
            </div>
        </form>
        <br>
    </main>
    
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <span class="text-muted">
                &copy; Test Project Using Django Framework {% now "Y" %}
            </span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script src="https://getbootstrap.com/docs/5.0/assets/js/docs.min.js"></script>
</body>
</html>
