<!doctype html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sudoku Solver</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    
    <style>
        br {
            display: block;
            content: "";
            margin-top: 5px;
        }
        
        .divfixed
        {
            width:500px;
            max-width:500px;
        }

        .divcenter{
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

        .alert1{position:relative;padding:0rem 0rem;margin-bottom:0rem;border:1px solid;border-radius:1rem;text-align:center;}
    </style>
</head>

<body class="d-flex flex-column h-100" style="background-color:rgb(227, 227, 227);">

    <header>
        <nav class="navbar justify-content-between navbar-dark bg-dark">
            <a class="navbar-brand px-5" href="{% url 'home' %}">&#129513; Sudoku Solver</a>
            <span class="px-5">
                <a class="btn btn-secondary active" href="https://sudoku.com" target="_blank" rel="noopener noreferrer">For new puzzles.. 
                    <span class="badge bg-primary">sudoku.com</span>
                </a>
            </span>
        </nav>
    </header>

    <br><br><br>
    <main role="main">
        <form role="form" method="POST" onclick="location.href={% url 'home' %}">{% csrf_token %}
            <div class="divcenter">
                {% for k, val in dict_val.items %}
                    <div class="divfixed">
                        <div class="input-group shadow-lg">
                            {% for item in val %}
                                <input type="text" name="box[]" class="form-control bg-light text-dark text-center fs-4" value="{{item}}">
                                {% if forloop.counter == 3 or forloop.counter == 6 %}&nbsp;{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if k == 3 or k == 6 %}<br>{% endif %}
                {% endfor %}
                <br>
                <div class="container text-center divcenter1 pb-2 pt-2">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success btn-lg" onclick="location.href={% url 'home' %}">Solve Puzzle</button>
                    <button type="button" class="btn btn-danger btn-lg" onclick="location.href={% url 'reset' %}">Reset</button>
                    <button type="button" class="btn btn-warning btn-lg" onclick="location.href={% url 'sample' %}">Sample</button>
                </div></div>
                <br>
                {% if msg == 'enter' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Enter the values to solve the puzzle..!
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                {% elif msg == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Empty puzzle can't be solved..!
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                {% elif msg == 'done' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Puzzle is solved...!
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                {% elif msg == 'sample' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position:relative;padding:.2rem 2rem">
                        Click Solve Puzzle to solve this sample...
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="position:absolute;top:0;right:0;padding: 0.5rem;"></button>
                    </div>
                
                {% endif %}
            </div>
        </form>
        <br>
    </main>
    
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <span class="text-muted">
                &copy; Test Project Using Django Framework {% now "Y" %}
            </span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    Placed at the end of the document so the pages load faster-->
    <script src="{% static '/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</body>
</html>
